black==20.8b1
isort==5.6.4
mujoco-py==2.0.2.13
numpy==1.21.0
gym==0.18.0
higher==0.2.1
pylint==2.8.3
pytest==6.2.2
pytest-flake8==1.0.6
pytest-mypy==0.7.0
pytest-pylint==0.18.0
pre-commit==2.8.2
tensorboard==2.5.0
tqdm==4.62.3
types-PyYAML==5.4.3